parameters:
    level: 9
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
            path: src/ViaevistaViteBundle.php
